/*********************************************/
  /*COLORS*/
/*********************************************/

/*********************************************/
  /*FONTS*/
/*********************************************/

/*********************************************/
  /*SIZES*/
/*********************************************/
$small-phone-max-width: 14.938em; // 239px
$small-phone: 15em; // 240px

$phone-max-width: 19.938em; // 319px
$phone: 20em; // 320px

$phone-landscape-max-width: 29.9375em; // 479px
$phone-landscape: 30em; // 480px

$small-tablet-max-width: 35.4375em; // 567px
$small-tablet: 35.5em; // 568px

$tablet-max-width: 47.938em; // 767px
$tablet: 48em; // 768px

$tablet-landscape-max-width: 61.9375em; // 991px
$tablet-landscape: 62em; // 992px

$desktop-max-width: 63.938em; // 1023px
$desktop: 64em; // 1024px

$site-max-width: 79.9375em; // 1279px
$site: 80em; // 1280px