doctype html
html(lang='ru-RU')
	include ../common/head.jade
	
	body
		<!--[if lt IE 8]>
		<p class="browsehappy">Ваш браузер <strong>устарел</strong>. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
		<![endif]-->

		include ../common/header.jade

		block content
	
		include ../common/footer.jade