/*********************************************/
		/*FONT FACE*/
/*********************************************/

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

/*********************************************/
		/*PSEUDO*/
/*********************************************/

@mixin pseudo ($width, $height) {
  content: ' ';
  position: absolute;
  display: block;
  width: $width;
  height: $height;
}

/*********************************************/
		/*STICKY FOOTER*/
/*********************************************/

@mixin stiky-footer ($footer-height, $root-selector, $root-footer-selector, $footer-selector) {
	html, body {
	    height: 100%;
	    margin: 0;
	    padding: 0;
	}
	#{$root-selector} {
	    min-height: 100%;
	    height: auto !important;
	    height: 100%;
	    margin: 0 0 -$footer-height 0;
	    padding: 0;
	}
	#{$root-footer-selector}, #{$footer-selector} {
	    height: $footer-height;
	    margin: 0;
	    padding: 0;
	}
}
