@import "_mixins.scss";

/*********************************************/
		/*FONTS*/
/*********************************************/

// @include font-face(Samplinal, '../fonts/Samplinal', 500, normal, eot woff2 woff ttf);
