@import "_variables.scss";
@import "_buttons.scss";

/*********************************************/
		/*MAIN STYLES*/
/*********************************************/
body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}

/*********************************************/
		/*FOOTER AT THE BOTTOM*/
/*********************************************/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -100px 0;
    padding: 0;
}
.footer-push, .footer {
    height: 100px;
    margin: 0;
    padding: 0;
}

/*********************************************/
		/*@IMPORT HEADER*/
/*********************************************/

@import "_header.scss";

/*********************************************/
		/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
		/*SECTIONS*/
/*********************************************/

/*********************************************/
		/*@IMPORT FOOTER*/
/*********************************************/

@import "_footer.scss";

/*********************************************/
		/*@IMPORT MEDIA*/
/*********************************************/

@import "_media.scss";
