/*********************************************\
		@IMPORT
\*********************************************/
@import "_variables.scss";
@import "_buttons.scss";
@import "bourbon";

/*********************************************\
		MAIN STYLE
\*********************************************/
body {
	font-family: sans-serif;
	font-size: em(12px);
	min-width: 320px;
	position: relative;
}

.hidden {
	display: none;
}

.carousel img {
	width: 100%;
	height: auto;
}

/*********************************************\
		TYPOGRAPHY
\*********************************************/


/*********************************************\
		SECTION
\*********************************************/


/*********************************************\
		MEDIA
\*********************************************/
@import "_media.scss";