/*********************************************\
		@IMPORT BOURBON
\*********************************************/
@import "bourbon";

/*********************************************\
		@IMPORT VARIABLES
\*********************************************/
@import "_variables.scss";

/*********************************************\
		@IMPORT BUTTONS
\*********************************************/
@import "_buttons.scss";

/*********************************************\
		MAIN STYLE
\*********************************************/
body {
	font-family: sans-serif;
	font-size: em(16px);
	min-width: 320px;
	position: relative;
}

.hidden {
	display: none;
}

.carousel img {
	width: 100%;
	height: auto;
}

/*********************************************\
		@IMPORT HEADER
\*********************************************/
@import "_header.scss";

/*********************************************\
		TYPOGRAPHY
\*********************************************/

/*********************************************\
		SECTION
\*********************************************/

/*********************************************\
		@IMPORT FOOTER
\*********************************************/
@import "_footer.scss";

/*********************************************\
		@IMPORT MEDIA
\*********************************************/
@import "_media.scss";