head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	block title 
		title Заголовок
	
	// SEO
	meta(name='description', content='')
	meta(name='keywords', content='')
	meta(name='author', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	
	// Favicon
	link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
	link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
	link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
	link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
	
	<!-- build:css css/libs.min.css -->
	<!-- bower:css -->
	link(rel='stylesheet', href='bower/normalize-css/normalize.css')
	<!-- endbower -->
	link(rel='stylesheet', href='bower/owl-carousel/owl-carousel/owl.carousel.css')
	link(rel='stylesheet', href='libs/bootstrap/bootstrap-grid-3.3.1.min.css')
	link(rel='stylesheet', href='bower/font-awesome/css/font-awesome.css')
	<!-- endbuild -->
	
	<!-- build:css css/main.min.css -->
	link(rel='stylesheet', href='css/fonts.css')
	link(rel='stylesheet', href='css/main.css')
	<!-- endbuild -->
	<!-- build:js js/modernizer.min.js -->
	script(src='bower/modernizer/modernizr.js')
	<!-- endbuild -->